/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}
.fa-magnifying-glass {
    color: var(--main-bg-color);
    visibility: hidden;
    height: 16px;
    width: 16px;
}

.fa-info {
    width: 4px;
    height: 10px;
    padding-top: 5px;
}

body {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

h1 {
    font-size: 22px;
}

input {
    padding: 0;
}

button {
    padding: 0;
    border: none;
}

.btn-search span {
    padding-right: 16px;
}

.btn {
    cursor: pointer;
    height: 50px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    flex: 1;
    border-radius: 20px;
    margin-top: 33px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card:hover {
    cursor: pointer;
}

.activities-card:hover {
    cursor: pointer;
}

.bold {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Class Component ***********/

/****** Header ***********/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 110px;
}

nav {
    height: 100%;
    width: 25%;
}

.header-container img {
    padding: 30px 0 0 0;
    width: 60px;
    height: 20px;
}

.header-container ul {
    display: flex;
    justify-content: space-around;
    padding: 16px 0 0 0;
    margin: 0;
}

.header-container a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding: 16px 0;
}

/****** Search ***********/

.form-search {
    display: flex;
    align-items: center;
}

.faSearch {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    background: var(--main-bg-color);
    justify-content: center;
}

.fa-location-dot {
    color: black;
}

form input {
    height: 50px;
    border: none;
    background: white;
    text-align: center;
    font-weight: bold;
}

.btn-search {
    background: var(--main-color);
    color: white;
    text-align: center;
    height: 50px;
    width: 130px;
    margin: 0;
    border-radius: 0px 15px 15px 0px;
}

.filter-search {
    display: flex;
    align-items: center;
    width: 100%;
}

.filter {
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.list-filter-search ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: 0;
}

.list-filter-search li {
    display: flex;
    flex: 1;
    gap: 20px;
    white-space: nowrap;
    align-items: center;
    width: fit-content;
    max-width: 167px;
    padding: 15px;
    border: 2px solid var(--main-bg-color);
    justify-content: space-evenly;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
}

.list-filter-search li:hover {
    background: var(--filter-bg-color);
    cursor: pointer;
}

.text-search {
    display: flex;
    align-items: center;
}

.faTextSearch {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 24px;
    width: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
}

.text-search p {
    margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergements-cards .card {
    min-width: 25%;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements a {
    font-weight: bold;
}

.card-text .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-text .card-subtitle {
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activities ***********/
.activities {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.activities .section-title h2 {
    margin: 0;
    padding: 30px 0 30px 30px;
    font-size: 22px;
}

.activities-global {
    width: 100%;
    gap: 20px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
}
.activities-card {
    width: fit-content;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.activities-card-img {
    height: 75%;
    max-width: 297px;
    max-height: 380px;
}

.activities-card-img img {
    height: 100%;
    width: 100%;
    max-width: 297px;
    max-height: 380px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activities-card .card-title {
    max-width: 297px;
    width: 100%;
    height: 59px;
    background: #ffffff;
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-card .card-title h3 {
    margin: 0;
    padding: 20px 19px;
    font-size: 16px;
}

/****** Footer ***********/
footer {
    width: 100%;
    display: flex;
    background-color: var(--main-bg-color);
}

footer ul {
    padding: 0;
}

footer li {
    padding-bottom: 10px;
}

.a-propos,
.nos-hebergements,
.assistance {
    flex: auto;
    padding-left: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .filter-search {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter p {
        margin: 16px 0 0 0;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0;
    }

    .main-container {
        padding: 0;
    }

    .header-container {
        flex-direction: column;
        align-items: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        padding: 0;
        justify-content: space-around;
    }

    nav ul li {
        width: 50%;
        margin: 0;
        text-align: center;
    }

    nav ul li a {
        width: 100%;
        display: block;
        padding: 0;
    }

    .header-container a:hover {
        color: var(--main-color);
        border-top: hidden;
        padding-top: 0;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 10px;
    }

    .search {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .list-filter-search {
        padding: 0 5px;
    }

    .list-filter-search ul {
        justify-content: space-evenly;
    }

    .hebergements-and-populaires section {
        width: 100%;
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements {
        order: 1;
    }

    .hebergements-cards .card,
    .activities-card-img {
        width: 100%;
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
    }

    .populaires {
        order: 0;
    }

    .search h1,
    .search p,
    .form-search {
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-input {
        display: flex;
    }

    button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .btn-search {
        width: 50px;
        border-radius: 15px;
    }

    .btn-search span {
        visibility: hidden;
    }

    .btn-search .fa-magnifying-glass {
        visibility: visible;
    }

    .list-filter-search li {
        gap: 5px;
    }

    .text-search {
        padding-left: 10px;
    }

    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .activities {
        margin: 30px;
        width: auto;
    }

    .activities .section-title h2 {
        margin: 0;
        padding: 0;
    }

    .activities-global {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .activities-card {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 20px 19px;
    }

    .activities-card-img {
        max-width: none;
    }

    .activities-card-img img {
        max-height: 124px;
        max-width: none;
        width: 100%;
    }

    .activities-card .card-title {
        max-width: none;
    }

    footer {
        flex-direction: column;
    }
}
